@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 24px;
}
input{
	width: 30px;
}

input.text{
	width: 60px;
}

.select{
	width: 100px;
}

#rowsInput{
	width: 200px;
}